body {
  font-family: Arial;
}

#site-map {
  font-size: 16px;
  color: #5bcefb; 
  text-decoration-color: #5bcefb;
}

ul {
  margin-top: 0;
  list-style-type: circle;
}

#search {
  color: white;
  font-weight: bold;
  font-size: 10px;
}

#search > div > input[type="text"] {
  width: 80%;
  border: ridge;
  height: 10px;
}

#search > div > button {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 5px;
  font-weight: bold;
  font-size: 10px;
  color: white;
  background: #313131;
}

dt {
  color: #e7ca1c;
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px;
}

dd {
  font-size: 11px;
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}

.center {
  display: flex;
  justify-content: center;
}

.sidenav {
  height: 100%;
  width: 115px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #216b6b;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 13px;
  color: #fff;
  display: block;
}

.main {
  margin-left: 115px;
  padding: 0px 10px;
}
